























.fa{background-color: rgb(114, 114, 239); border:solid 3px;  border-radius: 80px; border-color: red; text-align: center; }
.hh{color: rgb(132, 4, 4);}
.nn{color: green;}
.jj{height: 20px; background-color: yellow; color: green; text-align: center; height: 40px;}
.ah{color: green;}
.name{height: 40px; width: 1250px;}
.BOOM{background-color: rgb(91, 91, 231); color: azure; width: 150px; height: }




table,th,td{
    border: 1px solid; 
}
td{width: 500px; text-align: center };

.pro{background-color: green;}
.fakt{background-color: blue;}
.gg{background-color: red;}
.dd{background-color: black; color: azure;}



